<div class="container nav justify-content-center bg-info text-light"><h1>Grocery Management System</h1></div>
<br>
<form action="/action_page.php">
  <div class="container col-lg-6 col-md-4 col-sm-1" style="height:560px;width: 1000px;  background-image:url('https://www.yournilgiris.com/images/landing-bg-mob.png');">
  <div class="form-group">
    <label for="email"><h5>Email address:</h5></label>
    <input type="email" class="form-control" placeholder="Enter email" id="email">
  </div>
  <div class="form-group">
    <label for="pwd"><h5>Password:</h5></label>
    <input type="password" class="form-control" placeholder="Enter password" id="pwd">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <a routerLink="/home"><button type="submit" class="btn btn-primary">Submit</button></a>
  </div>
</form>